# Capstone Project - Car Accident Severity (Week 2 & 3)

##### Olatunde Awobuluyi

###  Data Science Specialization Capstone Project offered by IBM on Coursera

## Table of Contents

* [Introduction: Business Problem](#introduction)
* [Data](#data)
* [Exploratory Data Analysis](#Exploration)

## Introduction: Business Problem <a name="introduction"></a>

Between **2016 & 2019**, there have been **23731** police recorded injuries due to road traffic collision in **11 districts** in Northern Ireland. Each record indicates how severe the outcome of the collision is. 

The severity of these outcomes ranges from **1(Fatal injury collision)** to **3(Slight injury collision)**; with **2(Serious injury collision)**  being the middle value.

During this time period (2016 to 2019), **Belfast City** had the highest number of recorded incidents with **5872** cases, and the district of **Armagh City**, **Banbridge & Craigavon** having the second-highest number of recorded incidents with **2329** cases. 

The dataset we have will be useful to the police of Northern Ireland, however, we want to explore and create a prediction model for Belfast City. 

We believe the outcome of this exercise will be very useful to the **Belfast City Council** in designing and constructing new roads or modifying existing roads when considering variables like speed limits, one way, the position of traffic lights etc

## Data <a name="data"></a>

The entire dataset that includes all **11** districts has **23731** entries as mentioned earlier. Records from 2016 to 2019 were joined together to create a <a href="https://app.box.com/s/yqr1w8rjlro77ieckqcwmfub8bdcpja0">richer data set</a>.

However, the following **9** fields have either **20902** or **20903** missing values.

    a_jdet            20902
    a_jcont           20902
    a_pedhum          20903
    a_pedphys         20903
    a_light           20902
    a_weat            20902
    a_roadsc          20902
    a_speccs          20902
    a_chaz            20902
    a_scene           20902

**The name of these fields will be changed to something easier to read in the next section**
    
We wonâ€™t be dropping the missing data because of the sheer amount. Replacing these empty fields or data by the **frequency(mode)** of the categorical data in each of these columns will be the approach used. 

Please view the data guide document  <a href="https://app.box.com/s/x734lsyrb4jkavxqtoxjvmkoqyg5odpo">data guide document</a> for a description of each of the aforementioned fields.

Dropping all rows with missing data shows that the target variable **'a_type'** for collision severity will be unbalanced. Please view the <a href="https://app.box.com/s/x734lsyrb4jkavxqtoxjvmkoqyg5odpo">data guide document</a>  for a description of the **'a_type'** field.

### Trimming the Data

Before any exploratory analysis is done, the original dataset comprising incidents for all districts will be trimmed down to entries just for **Belfast City** and checked if the trimmed dataset is balanced.

#### This data set was published with an Open Government Licence on the data.gov.uk website and its titled <a href="https://data.gov.uk/dataset/4ddb6259-b47c-44e6-ac91-6d95dd527d26/police-recorded-injury-road-traffic-collision-statistics-northern-ireland-2016">"Police Recorded Injury Road Traffic Collision Statistics Northern Ireland 2016" </a> 

#### The dataset for 2017, 2018, and 2019 have been added to this data set to make it richer for analysis

In [1]:
# Importing all the necessary libraries for data analysis
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
filename = "/home/tunde/Documents/COURSERA-DATA-SCIENCE-SPECIALIZATION/4_APPLIED_DATA_SCIENCE_CAPSTONE/Data_Set/Police_Record/collision2016_to_2019.csv"

In [3]:
df = pd.read_csv(filename)

In [4]:
df.head()

,a_year,a_ref,a_District,a_type,a_veh,a_cas,a_wkday,a_day,a_month,a_hour,...,a_jdet,a_jcont,a_pedhum,a_pedphys,a_light,a_weat,a_roadsc,a_speccs,a_chaz,a_scene
0,2016,1,NEMD,3,1,1,FRI,1,1,1,...,,,,,,,,,,
1,2016,2,DCST,3,2,1,FRI,1,1,3,...,,,,,,,,,,
2,2016,3,ARND,2,1,1,FRI,1,1,3,...,1,1,1,1,6,2,4,1,1,1
3,2016,4,BELC,3,2,2,FRI,1,1,3,...,,,,,,,,,,
4,2016,5,BELC,3,2,1,FRI,1,1,15,...,,,,,,,,,,

#### Column header names are changed to something more readable

In [5]:
# Dictionary with new column headers
New_Column_Headers = {'a_year':'Year', 'a_ref':'Reference_No', 'a_District':'District', 'a_type':'Collision_Severity', 'a_veh':'Number_of_Vehicles', 'a_cas':'Number_of_Casualities', 'a_wkday':'Weekday_of_Collision', 'a_day':'Week_of_Collision', 'a_month':'Month_of_Collision', 'a_hour':'Hour_of_Collision', 'a_min':'Minute_of-Collision', 'a_gd1':'Location_Easting', 'a_gd2':'Location_Northing', 'a_ctype':'Carriageway_Type', 'a_speed':'Speed_Limit', 'a_jdet':'Junction_Detail', 'a_jcont':'Junction-Control', 'a_pedhum':'Pedestrian_Crossing_Human_Control', 'a_pedphys':'Pedestrian_Crossing_Physical_Control', 'a_light':'Light_Conditions', 'a_weat':'Weather_Conditions', 'a_roadsc':'Road_Surface_Conditions', 'a_speccs':'Special_Conditions_at_Site', 'a_chaz':'Carriageway_Harzard', 'a_scene':'Police_at_Scene'}
new_df = df.rename(columns=New_Column_Headers)
new_df

,Year,Reference_No,District,Collision_Severity,Number_of_Vehicles,Number_of_Casualities,Weekday_of_Collision,Week_of_Collision,Month_of_Collision,Hour_of_Collision,...,Junction_Detail,Junction-Control,Pedestrian_Crossing_Human_Control,Pedestrian_Crossing_Physical_Control,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Harzard,Police_at_Scene
0,2016,1,NEMD,3,1,1,FRI,1,1,1,...,,,,,,,,,,
1,2016,2,DCST,3,2,1,FRI,1,1,3,...,,,,,,,,,,
2,2016,3,ARND,2,1,1,FRI,1,1,3,...,1,1,1,1,6,2,4,1,1,1
3,2016,4,BELC,3,2,2,FRI,1,1,3,...,,,,,,,,,,
4,2016,5,BELC,3,2,1,FRI,1,1,15,...,,,,,,,,,,
5,2016,6,DCST,3,2,3,FRI,1,1,15,...,,,,,,,,,,
6,2016,7,BELC,3,2,2,FRI,1,1,16,...,,,,,,,,,,
7,2016,8,BELC,3,2,1,SAT,2,1,0,...,,,,,,,,,,
8,2016,9,BELC,3,2,2,SAT,2,1,8,...,,,,,,,,,,
9,2016,10,ANTN,2,3,7,SAT,2,1,8,...,1,1,1,1,2,2,2,1,1,1
10,2016,11,ARBC,2,2,2,SAT,2,1,8,...,10,7,1,1,1,1,2,1,1,1
11,2016,12,BELC,3,2,1,SAT,2,1,15,...,,,,,,,,,,
12,2016,13,BELC,3,2,1,SAT,2,1,16,...,,,,,,,,,,
13,2016,14,FERO,3,1,1,SUN,3,1,1,...,,,,,,,,,,
14,2016,15,MEAN,3,2,2,SUN,3,1,1,...,,,,,,,,,,
15,2016,16,NEMD,3,1,1,SUN,3,1,1,...,,,,,,,,,,
16,2016,17,BELC,3,2,1,SUN,3,1,4,...,,,,,,,,,,
17,2016,18,BELC,3,2,2,SUN,3,1,5,...,,,,,,,,,,
18,2016,19,CCGL,3,1,1,SUN,3,1,12,...,,,,,,,,,,
19,2016,20,ANTN,3,1,1,SUN,3,1,13,...,,,,,,,,,,
20,2016,21,CCGL,3,2,1,SUN,3,1,13,...,,,,,,,,,,
21,2016,22,BELC,3,2,1,SUN,3,1,14,...,,,,,,,,,,
22,2016,23,BELC,3,2,2,SUN,3,1,14,...,,,,,,,,,,
23,2016,24,LISC,3,1,1,SUN,3,1,15,...,,,,,,,,,,
24,2016,25,BELC,3,2,1,SUN,3,1,16,...,,,,,,,,,,
25,2016,26,ANTN,3,1,1,SUN,3,1,17,...,,,,,,,,,,
26,2016,27,MIDU,3,2,3,SUN,3,1,18,...,,,,,,,,,,
27,2016,28,MEAN,3,1,1,SUN,3,1,18,...,,,,,,,,,,
28,2016,29,ANTN,2,1,1,SUN,3,1,18,...,3,7,1,1,6,1,2,1,1,1
29,2016,30,CCGL,3,1,1,MON,4,1,7,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23701,2019,5647,ANTN,3,2,1,SAT,28,12,22,...,,,,,,,,,,
23702,2019,5648,NEMD,3,1,1,SUN,29,12,3,...,,,,,,,,,,
23703,2019,5649,ANTN,3,2,1,SUN,29,12,13,...,,,,,,,,,,
23704,2019,5650,CCGL,3,2,2,SUN,29,12,18,...,,,,,,,,,,
23705,2019,5651,ARND,3,2,1,SUN,29,12,19,...,,,,,,,,,,
23706,2019,5652,BELC,3,1,1,SUN,29,12,19,...,,,,,,,,,,
23707,2019,5653,LISC,3,2,2,SUN,29,12,20,...,,,,,,,,,,
23708,2019,5654,BELC,3,2,4,SUN,29,12,21,...,,,,,,,,,,
23709,2019,5655,CCGL,3,2,2,MON,30,12,12,...,,,,,,,,,,
23710,2019,5656,BELC,3,2,1,MON,30,12,12,...,,,,,,,,,,
23711,2019,5657,ARND,3,2,1,MON,30,12,15,...,,,,,,,,,,
23712,2019,5658,FERO,2,2,1,MON,30,12,16,...,12,4,1,1,7,10,2,1,1,1
23713,2019,5659,LISC,3,2,1,MON,30,12,17,...,,,,,,,,,,
23714,2019,5660,FERO,1,1,1,TUE,31,12,9,...,1,1,1,1,1,1,2,1,1,1
23715,2019,5661,MEAN,3,2,1,TUE,31,12,10,...,,,,,,,,,,
23716,2019,5662,DCST,2,2,1,TUE,31,12,11,...,1,1,1,1,2,1,1,1,1,1
23717,2019,5663,MEAN,3,2,1,TUE,31,12,13,...,,,,,,,,,,
23718,2019,5664,BELC,3,2,1,TUE,31,12,16,...,,,,,,,,,,
23719,2019,5665,DCST,3,2,1,TUE,31,12,15,...,,,,,,,,,,
23720,2019,5666,ARND,3,3,1,TUE,31,12,18,...,,,,,,,,,,
23721,2019,5667,BELC,3,2,3,TUE,31,12,19,...,,,,,,,,,,
23722,2019,5668,BELC,3,3,3,TUE,31,12,19,...,,,,,,,,,,
23723,2019,5669,BELC,3,1,1,TUE,31,12,20,...,,,,,,,,,,
23724,2019,5670,CCGL,3,4,2,TUE,31,12,21,...,,,,,,,,,,
23725,2019,5671,ARBC,3,2,2,SAT,19,1,0,...,,,,,,,,,,
23726,2019,5672,BELC,2,1,1,SAT,9,3,11,...,6,3,1,11,2,1,2,1,1,1
23727,2019,5673,ARBC,3,1,1,SUN,7,7,16,...,,,,,,,,,,
23728,2019,5674,DCST,3,2,4,THU,11,7,18,...,,,,,,,,,,
23729,2019,5675,BELC,3,2,1,MON,5,8,16,...,,,,,,,,,,
23730,2019,5676,BELC,3,3,9,SAT,16,11,17,...,,,,,,,,,,

### ----------------------------------------------------------------------------------------------------------------------------------------------------------------

## Exploratory Data Analysis: <a name="Exploration"></a>

For exploratory data analysis, the **categorical target variable 'Collision_Severity'** as mentioned earlier will be the evaluated via correlation with the independent variables **'Number_of_Vehicles'**, **'Speed_Limit'**, **'Junction_Detail'**, **'Junction_Control'**, **'Road_Surface_Conditions'**, **'Light_Conditions'**, **'Weather_Conditions'**, and so on.

### Checking the number of entries, columns and data types for each colunm for the data set

In [6]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23731 entries, 0 to 23730
Data columns (total 25 columns):
Year                                    23731 non-null int64
Reference_No                            23731 non-null int64
District                                23731 non-null object
Collision_Severity                      23731 non-null int64
Number_of_Vehicles                      23731 non-null int64
Number_of_Casualities                   23731 non-null int64
Weekday_of_Collision                    23731 non-null object
Week_of_Collision                       23731 non-null int64
Month_of_Collision                      23731 non-null int64
Hour_of_Collision                       23731 non-null int64
Minute_of-Collision                     23731 non-null int64
Location_Easting                        23731 non-null int64
Location_Northing                       23731 non-null int64
Carriageway_Type                        23731 non-null int64
Speed_Limit                             23731 non-null int64
Junction_Detail                         23731 non-null object
Junction-Control                        23731 non-null object
Pedestrian_Crossing_Human_Control       23731 non-null object
Pedestrian_Crossing_Physical_Control    23731 non-null object
Light_Conditions                        23731 non-null object
Weather_Conditions                      23731 non-null object
Road_Surface_Conditions                 23731 non-null object
Special_Conditions_at_Site              23731 non-null object
Carriageway_Harzard                     23731 non-null object
Police_at_Scene                         23731 non-null object
dtypes: int64(13), object(12)
memory usage: 4.5+ MB

### Describing the data

In [7]:
new_df.describe(include = "all")

,Year,Reference_No,District,Collision_Severity,Number_of_Vehicles,Number_of_Casualities,Weekday_of_Collision,Week_of_Collision,Month_of_Collision,Hour_of_Collision,...,Junction_Detail,Junction-Control,Pedestrian_Crossing_Human_Control,Pedestrian_Crossing_Physical_Control,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Harzard,Police_at_Scene
count,23731.000000,23731.000000,23731,23731.00000,23731.000000,23731.000000,23731,23731.000000,23731.000000,23731.000000,...,23731,23731,23731,23731,23731,23731,23731,23731,23731,23731
unique,NaN,NaN,11,NaN,NaN,NaN,7,NaN,NaN,NaN,...,9,6,4,7,8,11,11,7,7,3
top,NaN,NaN,BELC,NaN,NaN,NaN,FRI,NaN,NaN,NaN,...,,,,,,,,,,
freq,NaN,NaN,5872,NaN,NaN,NaN,3931,NaN,NaN,NaN,...,20902,20902,20903,20903,20902,20902,20902,20902,20902,20902
mean,2017.458303,2971.237917,NaN,2.87097,1.867304,1.532721,NaN,15.652817,6.647929,13.723610,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,1.118618,1720.229069,NaN,0.36335,0.652304,1.018194,NaN,8.765668,3.481886,4.989497,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,2016.000000,1.000000,NaN,1.00000,1.000000,1.000000,NaN,1.000000,1.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,2016.000000,1484.000000,NaN,3.00000,1.000000,1.000000,NaN,8.000000,4.000000,10.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,2017.000000,2967.000000,NaN,3.00000,2.000000,1.000000,NaN,16.000000,7.000000,14.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,2018.000000,4450.000000,NaN,3.00000,2.000000,2.000000,NaN,23.000000,10.000000,17.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2019.000000,6225.000000,NaN,3.00000,10.000000,22.000000,NaN,31.000000,12.000000,23.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

There are a lot of missing values in the last 10 columns. We can confirm that there are **20903** missing values for these columns. This gives us **(23731 - 20903)** number of entries **( 2828 entries)**. We may have to drop these columns later

In [8]:
new_df = df.replace(r'^\s*$', np.nan, regex=True)
new_df.isnull().sum(axis=0)

a_year            0
a_ref             0
a_District        0
a_type            0
a_veh             0
a_cas             0
a_wkday           0
a_day             0
a_month           0
a_hour            0
a_min             0
a_gd1             0
a_gd2             0
a_ctype           0
a_speed           0
a_jdet        20902
a_jcont       20902
a_pedhum      20903
a_pedphys     20903
a_light       20902
a_weat        20902
a_roadsc      20902
a_speccs      20902
a_chaz        20902
a_scene       20902
dtype: int64

###### We have 11 unique Districts for Northern Ireland as entries in the dataset. Here we can see "BELC" (Belfast City) has the highest number of entries at 5872. We might want to observe the how speed limits "a_speed" affects Collision in the Belfast City district

In [ ]:
df['a_District'].value_counts()

### 5. There are a lot  of missing values in the data as shown in the output below

In [ ]:
df.isnull()

### 6. In the output below, we see that after dropping all rows that have "NaN" values, we have 754 entries for our training data.

In [ ]:
new_df = df.dropna()

new_df

### 7. The number of entries per district has reduced drastically

In [ ]:
new_df['a_District'].value_counts()

In [ ]:
new_df.info()

### 8. Describing the data

In [ ]:
new_df.describe(include = "all")

### 9.  checking how balanced the data is

### I won't be dropping the data. Instead, I will replacing measing values with mode values. As  you can see, dropping all missing values will remove all incidents that resulted in "slight injury(3)" from the dataset

In [ ]:
new_df['a_type'].value_counts()

In [ ]:
df['a_type'].value_counts()

### 10. A quick look at what the dataset for Belfast City would look like

In [ ]:
#df.cats[df.cats=='a']
bel_df = df[df.a_District == 'BELC']
bel_df

### 11. A quick look at what the description for the dataset of Belfast City

In [ ]:
bel_df.describe(include = "all")

## 12. Checking how balanced the dataset for Belfast City is 

### observations for collison severity are still unbalanced

In [ ]:
bel_df['a_type'].value_counts()

# 13 Replacing the missing values

All

In [ ]:
missing_data_cols = ["a_jdet", "a_jcont", "a_pedhum", "a_pedphys", "a_light", "a_weat", "a_roadsc", "a_speccs", "a_chaz", "a_chaz", "a_scene"]

# function to replace the missing values in colunms with missing values with the mode values 
# and convert the data types in these columns from object data type to int64 data type

def replace_with_mode(dataframe, list_of_columns):
    
    for v in list_of_columns:
        
        mean = 0
        
        mean = pd.to_numeric(dataframe[v].value_counts().idxmax(), errors='coerce')
        
        dataframe[v] = pd.to_numeric(dataframe[v], errors='coerce')
        
        dataframe[v].replace(np.nan,mean,inplace=True)        
        
    return dataframe

test = replace_with_mode(df, missing_data_cols)

print(test.dtypes)

### 14. A quick look at what the dataset for Belfast City would look like again

In [ ]:
bel_df = df[df.a_District == 'BELC']
bel_df

In [ ]:
bel_df.isnull().sum(axis=0)

In [ ]:
sns.regplot(x='a_speed', y="a_type", data=df)

In [ ]:
sns.residplot(df['a_speed'], df["a_type"])